/(RDBS).pdf
/bootstr
/css.docx
/css.pdf
/desktop.ini
/Farzana Resume.pdf
/Farzana Resume1.pdf
/fcd.docx
/git essentials.txt
/Google Chrome.lnk
/html
/Java
/m2.docx
/major project
/material
/Microsoft Edge.lnk
/Module 1 June Batch Codes.pdf
/Module 1 Lecture codes - Google Docs.pdf
/New Microsoft Word Document (2).docx
/New Microsoft Word Document.docx
/Noun Book.pdf
/openjfx-19_windows-x64_bin-sdk
/pan.pdf
/Postman.lnk
/Recruitment to the Post of Assistant Manager in Grade 'A' (RDBS).pdf
/SceneBuilder.lnk
/Screenshot 2023-02-15 094230.png
/Sorting 4- QuickSort.pdf
/Telegram Desktop
/VID_20230907_122829_502.mp4.mkv
/VSCodeUserSetup-x64-1.67.1.exe
/__ BillDesk Payment Gateway __.pdf